---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { Icon } from "astro-icon/components";

const button = cva("flex flex-row gap-2 rounded-lg hover:bg-opacity-70", {
  variants: {
    intent: {
      primary: ["bg-lime-500", "text-black"],
      secondary: ["bg-white", "text-black"],
    },
    size: {
      small: ["text-sm", "py-1", "px-2"],
      medium: ["text-base", "py-2", "px-4"],
    },
    iconOnly: {
      true: ["text-[0px] [&>*:nth-child(even)]:hidden"],
    },
  },
  compoundVariants: [{ intent: "primary", size: "medium", class: "uppercase" }],
});

export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {
  icon?: string;
  href?: string;
  iconOnly?: boolean;
}

const {
  intent = "primary",
  size = "medium",
  href = "#",
  iconOnly,
} = Astro.props;
---

<a target="_blank" href={href}>
  <button {...Astro.props} class={button({ intent, size, iconOnly })}>
    {Astro.props.icon && <Icon size={22} name={Astro.props.icon} />}
    <div>
      <slot />
    </div>
  </button>
</a>
