---
import type { HTMLAttributes } from 'astro/types';
import FormattedDate from './FormattedDate.astro';

type Props = {
    id: string;
    slug: string;
    body: string;
    collection: string;
    data: {
        title: string;
        description: string;
        pubDate: Date;
        updatedDate?: Date | undefined;
        heroImage?: string | undefined;
    };
} & HTMLAttributes<'div'>;

const {
    slug,
    data: { heroImage, title, pubDate },
} = Astro.props as Props;
---

<div class="flex flex-col gap-4">
    <a href={`/blog/${slug}/`}>
        <img class="rounded-lg" width={300} height={150} src={heroImage} alt="" />
        <h4 class="title">{title}</h4>
        <p class="date">
            <FormattedDate date={pubDate} />
        </p>
    </a>
</div>