---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import Page from "../components/Page.astro";
import { Icon } from "astro-icon/components";

import "../styles/content.css";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page title="Blog post" description="">
	<article>
		<a
			href="/"
			class="text-lime-400 flex flex-row text-xl align-middle justify-center items-center mb-4"
		>
			<Icon size={35} name="mdi:arrow-back" />
			<p>Back to homepage</p>
		</a>

		<div class="w-fit mx-auto">
			{
				heroImage && (
					<img
						width={800}
						height={310}
						src={heroImage}
						alt=""
						class="rounded-xl"
					/>
				)
			}
		</div>

		<div class="p-24">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on{" "}
								<FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1 class="text-lime-400 text-4xl">{title}</h1>
				<hr class="my-5" />
			</div>

			<slot />
		</div>
	</article>
</Page>
